/* ### GLOBAL ### */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: black;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body, #root, html {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
  min-height: 100vh;
  background-color: #FFF;
}

.navbar {
  background-color: #D52B1E;
  transition: all 0.5s ease-in-out;
  min-height: 70px;
  max-height: 120px;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.nav__title {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  width: calc(100% - 120px);
  margin: 0px 5px;
}

.desc__text {
  margin: 10px 8vw;
  text-align: center;
}

/* ### PICK DATA ### */
#title {
  font-size: 3rem;
  text-align: center;
}

#subtitle {
  font-size: 1.25rem;
  text-align: center;
}

.dataset {
  cursor: pointer;
  color: blue;
  width: fit-content;
}

.dataset__picker {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 10px 0px;
}

.pick__data__menu {
  width: 100vw;
  margin-top: 40px;
  margin-bottom: 40px;
  height: 0px;
  z-index: 10;
  background-color: #fff;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.pick__data__menu .content {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: top;
  height: 80%;
  width: 60%;
}

/* ### MAP ### */
.svg {
  margin: 10px 20px;
  border-radius: 10px;
  max-height: 67vmin;
  border: 1px solid black;
}

.map__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  margin-top: 20px;
}

.canton {
  cursor: pointer;
}

.canton:hover {
  stroke-width: 1px !important;
}

.tooltip {
  position: absolute;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid black;
}

/* ### LEGEND ### */

.legend__svg {
  margin: 10px;
  width: 400px;
  height: 50px;
}

/* ### FOOTER ### */
.footer {
  width: calc(100% - 6rem);
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
  color: silver;
  font-size: 12px;
  border-top: 1px solid silver;
  margin-bottom: 10px;
  z-index: 100;
}

.footer p {
  margin: 0px;
}

.footer a {
  color: goldenrod;
}